* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}
button:hover {
    background-color: white;
}

html,
body {
    border: 0;
    margin: 0;
    padding: 0;
    /* height: 100%; */
}
body {
    /* background-color: wheat; */
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    /* height: 100%; */
}

main,
.welcome-component {
    height: 100%;
    width: 100%;
}
/* -------------------------- general ------------------------------------------------------- */
.form h3,
.form-desc,
.home-menu-el p {
    color: #1a4fc2;
}

.welcome-component,
.welcome-backdrop,
.component-container,
.component,
.form,
.home-menu-el {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.component-container {
    /* border: 1px blue solid; */
    height: 100%;
    width: 100%;
}
.component {
    /* border: 1px red solid; */
    /* width: 100%; */
    /* margin-top: 10%; */
}
.component h1 {
    margin-top: 150px;
}

.back-home-link {
    border: 2px grey solid;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 20px;
    padding: 10px 20px;
    font-weight: bold;
    color: grey;
    cursor: pointer;
    justify-self: flex-start;
}
.back-home-link:hover {
    background-color: rgb(176, 175, 175);
    color: white;
}

/* -------------------------- welcome ------------------------------------------------------- */

.welcome-backdrop {
    color: #1844a3;
}

.welcome-backdrop h1,
.welcome-backdrop p {
    margin-bottom: 20px;
}

.welcome-backdrop h1 {
    margin-top: 15%;
}

/* -------------------------- Form ------------------------------------------------------- */
/*
Input field focus border-animation from (effect 2):
https://codepen.io/Takumari85/pen/RaYwpJ
*/

.form {
    /* background-color: whitesmoke; */
    /* border: 1px #1a4fc2 solid; */
    border-radius: 10px;
    font-size: 20px;
    margin: 20px 50px 40px;
    padding: 20px 0px 0px;
    box-shadow: 0px 0px 10px 0px #1a4fc260;
}

.form h3 {
    /* border: 1px solid red; */
    margin: 0 0 10px;
    font-size: 30px;
    font-weight: 400;
}

.form-desc {
    max-width: 400px;
    text-align: center;
    margin: 20px 50px 50px;
}

.input-field-div {
    /* border: 1px blue solid; */
    margin: 15px 50px;
    position: relative;
}

.input-field-div input {
    border: none;
    border-bottom: 1px #1a4fc260 solid;
    font-size: 20px;
    background-color: rgba(240, 255, 255, 0);
    height: 30px;
    width: 300px;
}
.input-field-div input:focus {
    outline: none;
}

.input-field-div input:focus ~ .focus-border {
    width: 100%;
    transition: 0.4s;
    left: 0;
}
.focus-border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #1a4fc2;
    transition: 0.4s;
}

.input-field-div input::placeholder {
    font-size: 16px;
    color: #1a4fc28e;
}

.form button {
    border: none;
    /* border: 1px rgba(245, 245, 245, 0.295) solid; */
    border-top: none;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background: linear-gradient(to bottom, #1a4fc2ce 0%, #1a4fc2 100%);
    filter: contrast(80%);
    color: whitesmoke;
    width: 100%;
    margin: 20px 0 0;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}
.form button:hover {
    filter: contrast(100%);
}
.form button:focus {
    outline: none;
    filter: contrast(150%);
}

.error-message {
    color: red;
    text-align: center;
    margin: 10px;
}

.success {
    color: green;
    font-size: 30px;
    margin: 20px;
}

/* -------------------------- /register /login specifics ------------------------------------------------------- */

.toggle-comps {
    /* border: 1px red solid; */
    color: rgb(162, 162, 162);
    font-size: 16px;
    margin: 0 0 20px;
}

#to-reset {
    color: grey;
}

/* -------------------------- home screen ------------------------------------------------------- */

#home-menu-container {
    border: 2px #1a4fc2 solid;
    border-radius: 30px;
    padding: 100px 20px;
    min-width: 244px;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(202px, 33%));
    align-items: center;
    justify-items: center;
}

.home-menu-link {
    text-decoration: none;
}

.home-menu-el {
    border: 1px #1a4fc22f solid;
    border-radius: 50px;
    box-shadow: 0px 0px 10px 0px #1a4fc260;
    padding: 0 20px;

    width: 200px;
    height: 200px;
}
.home-menu-el:hover {
    background-color: whitesmoke;
}
.home-menu-el p {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
}
.home-menu-el img {
    height: 50px;
    width: 50px;
    object-fit: contain;
}

/* ----------------------------- Create Workout ------------------------------------------------------- */
#wo-creator-component {
    width: 100%;
}
#wo-creator-component h1 {
    margin-top: 60px;
}

.collapse {
    /* border: none; */
    display: none;
    /* display needs to be 'none'. it will be toggled to 'grid' upon button press*/
    /* display: grid; */
    /* max-height: 0; */
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.big-button {
    /* border: 2px grey solid; */
    border-width: 4px;
    border-radius: 50px;
    margin: 20px 0 0;
    padding: 10px 50px;
    font-weight: bold;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.8);
    /* background-color: rgba(0, 72, 255, 0.2); */
}

#wo-creator {
    /* border: 1px green solid; */
    width: 60%;
    min-width: 600px;
    box-sizing: border-box;
    margin: 30px 0;
    padding: 10px;
}

.new-workout {
    /* border: 1px red solid; */
    border-radius: 20px;
    background-color: rgba(0, 255, 255, 0.233);
    background-color: white;
    box-shadow: 0px 0px 10px 5px #1a4fc260;
    overflow: hidden;
    margin-bottom: 50px;
    /* padding-bottom: 50px; */
}
/* :root {
    --speed: 500ms;
} */

/* --------------------- Workout Nav Bar ------------------------------ */
.workout-nav {
    /* border: 1px blue solid; */
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 34% 32% 34%;
}

.new-workout {
    border-radius: 20px;
}
.workout-nav {
    border-radius: 20px 20px 0 0;
}
.wo-name {
    border: none;
    border-top-left-radius: 20px;
    font-weight: bold;
    color: black;
    padding: 5px 20px;
    /* text-align: center; */
}
.wo-name:focus {
    outline: none;
}
.wo-name::placeholder {
    color: rgb(169, 168, 168);
}

/* TRYING OUT COLLAPSIBLES */
/*
https://www.w3schools.com/howto/howto_js_collapsible.asp
*/

.tags-div {
}

.toggle-tags {
    border: none;

    width: 100%;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
}
.tags {
    /*display becomes 'grid', but for collapse we start it at 'none' */
    /* For editing do display: grid; */
    /* display: grid; */
    display: none;
    grid-template-rows: 30px auto;
    width: 100%;
}

.tag-add {
    border: 1px grey solid;
    border-top: none;
}

.tag {
    display: grid;
    grid-template-columns: 70% 30%;
}
.tag-input {
    grid-column: 1 / span 1;
    outline: none;
    border: 1px grey solid;
    border-top: none;
    height: 30px;
    padding: 0 10px;
}
.tag-del {
    grid-column: 2 / span 1;
    border: none;
    border-right: 1px grey solid;
    border-bottom: 1px grey solid;
}

/* .tags input:first-child {
    border: 1px red solid;
    grid-column: 1 / span 2;
} */

.wo-del:hover,
.toggle-tags:hover {
    background-color: lightgrey;
}
.wo-del {
    border: none;
    border-top-right-radius: 17.8px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}
.toggle-tags,
.wo-name,
.wo-del {
    outline: none;
    font-size: 20px;
    height: 50px;
    background-color: white;
    /* border-bottom: 1px #1a4fc2 solid; */
    /* border-bottom: 1px lightgrey solid; */
    box-shadow: inset 0px 13px 25px -27px rgba(0, 0, 0, 0.75);
}

.submit-wo {
    border: none;
    box-shadow: inset 0px -13px 25px -27px rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 50px;
    background-color: white;
    color: grey;
    font-weight: bold;
    font-size: 18px;
}
.submit-wo:hover {
    color: white;
    background-color: #1a4fc29f;
}
.submit-wo:focus {
    color: white;
    background-color: #1a4fc2d7;
}

/* --------------------- Exercise ------------------------------ */
.toggle-exercises {
    /* border: 2px#1a4fc2 solid; */
    border: none;
    background-color: whitesmoke;
    outline: none;
    width: 100%;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
    box-shadow: inset 0px -10px 25px -27px rgba(0, 0, 0, 0.75);
}

.toggle-exercises:hover {
    background-color: lightgrey;
}

.exercises-div {
    /* border: 2px #1a4fc2 solid; */
    border-top: none;
    border-radius: 0 0 10px 10px;
    /* set to none display: none, becomes display: grid upon click*/
    /* For editing do display: grid; */
    display: grid;
    display: none;

    grid-template-rows: 60px 1fr;
    background-color: white;
}

.exer-add {
    /* border: 2px grey solid; */
    border-radius: 20px;
    grid-row: 1 / span 1;
    justify-self: center;
    margin: 15px 0;
    height: 30px;
    width: 30%;
    font-size: 16px;
    cursor: pointer;
}
.exer-add:hover {
    background-color: white;
}

.exer-div {
    /* border: 1px red solid; */
    border-radius: 20px;
    background-color: white;
    /* box-shadow: 0px 0px 1px 1px #1a4fc260; */
    overflow: hidden;
    margin-bottom: 40px;
    width: 90%;
    justify-self: center;
}

.exer-nav {
    border: none;
    border-radius: 20px 20px 0 0;
    background-color: whitesmoke;

    grid-row: 1 / span 1;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 40% 30% 30%; */

    overflow: hidden;
}

.exer-name-input {
    border: none;
    border-top-left-radius: 10px;
    outline: none;
    font-weight: bold;
    width: 100%;
    padding: 0 20px;
}
.exer-name-input::placeholder {
    color: rgb(169, 168, 168);
}

.exer-del {
    border: none;
    border-top-right-radius: 17.8px;
    background-color: white;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
}

.sets-toggle {
    border: none;
    background-color: whitesmoke;
    outline: none;
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    box-shadow: inset 0px -15px 25px -27px rgba(0, 0, 0, 0.75);

    cursor: pointer;
}

.exer-name-input,
.exer-del {
    font-size: 20px;
    height: 50px;
    box-shadow: inset 0px 13px 25px -27px rgba(0, 0, 0, 0.75);
}

.exer-del:hover,
.sets-toggle:hover {
    background-color: lightgrey;
}

.sets-toggle:active {
    background-color: lightgrey;
}

/* ------------ Sets Div ------------- */
.sets-div {
    grid-column: 1 / span 3;

    /* for editing make this display:grid */
    display: grid;
    display: none;
    /* grid-template-rows: 60px; */
    grid-auto-rows: 45px;
}

.set-add {
    border-radius: 20px;
    width: 10%;
    height: 70%;
    justify-self: center;
    align-self: center;
    font-size: 14px;
    margin: 0 20px;
}

.set-div {
    justify-self: center;
    align-self: center;
    /* padding-bottom: 3px;
    border-bottom: 1px grey solid; */
}

/* .set-div > .set-div {
    align-self: center;
} */

.reps-inp {
    width: 40px;
    text-align: right;
}
.reps-label {
    /* border: 1px green solid; */
    display: inline-block;
    margin: 0 5px 0 2px;
    color: grey;
}

.units-div,
.unit-div {
    display: inline-block;
    height: 100%;
}

.unit-div {
    border-right: 1px blue solid;
    /* border-left: 1px blue solid; */
    margin: 0 5px;
    /* height: 30px; */
}

.reps-inp,
.unit-val-inp,
.unit-measure-inp {
    height: 30px;
    margin-left: 5px;
    padding: 0 5px;
}
.unit-measure-inp {
    width: 80px;
}
.unit-val-inp {
    width: 50px;
    text-align: right;
}
.unit-del,
.set-unit-add,
.set-del,
.set-copy {
    border-radius: 10px;
    margin: 0 10px;
    height: 25px;
    width: 50px;
}

.submit-exer {
    width: 100%;
    border: none;
    background-color: white;
    color: grey;
    font-weight: bold;
    font-size: 16px;
    box-shadow: inset 0px -20px 25px -27px rgba(0, 0, 0, 0.75);
}

.submit-exer:hover {
    color: white;
    background-color: #1a4fc27c;
}
.submit-exer:focus {
    color: white;
    background-color: #1a4fc2d7;
}
/* ----------------------------- Track Workout ------------------------------------------------------- */
/* xxxxx anchor */
#choose-wo-list {
    /* border: 1px red solid; */
}
#choose-workout {
    border-radius: 2px;
}
.wo-li-el {
    border: 2px grey solid;
    border-top: none;
    color: rgb(77, 77, 77);
    font-weight: bold;
    width: 100%;
    padding: 15px 10px;
    cursor: pointer;
}
.wo-li-el:hover {
    background-color: rgb(150, 149, 149);
    color: white;
}
.wo-li-el:last-child {
    border-radius: 0 0 6px 6px;
}

/* ----------------------------- General ------------------------------------------------------- */
.toggle-button {
    background-color: whitesmoke;
}
.active,
.toggle-button:hover {
    background-color: rgba(255, 166, 0, 0.7);
    box-shadow: none;
    /* background-color: #487be9; */
    /* color: white; */
}

.toggle-tags,
.wo-name,
.wo-del,
.exer-name-input,
.exer-del {
    border-bottom: 1px lightgrey solid;
}
.wo-name,
.exer-name-input {
    border-right: 1px lightgrey solid;
}
.wo-del,
.exer-del {
    border-left: 1px lightgrey solid;
}
.submit-wo,
.submit-exer {
    border-top: 1px lightgrey solid;
}

.big-button:hover {
    background-color: orange;
    color: white;
}

/* ----------------------------------------------- Phone Styling ---------------------------------------------------------- */
@media screen and (min-width: 100px) and (max-width: 920px) {
    #home-menu-container {
        /* border: 1px red solid; */
        grid-template-columns: 1fr;
        padding: 0;
        margin: 30px 0;
    }
    .home-menu-el {
        margin: 10px 0;
    }
}
